@charset "utf-8";

* {

	margin: 0px;

	padding: 0px;

}

img {

	zoom: 0.5

}

body {

	background-color: #fff;

	width: 100%;

	height: 100%;

	overflow: hidden;

	text-align: center;

	position: relative;

	font-size: 14px;

	line-height: 20px;

}

.maxWidth {

	width: 100%;

	position: relative;

}

.infoAbsolute {

	position: absolute;

	width: 100%;

	top: 0em;

	left: 0em;

	z-index: 5;

}

.page {

	width: 100%;

	height: 100%;

	overflow: hidden;

	position: relative;

	background: url(../images/bg.png);

	overflow: hidden;

}

.pageUl {

	position: absolute;

	left: 0em;

	top: 0em;

	width: 100%;

	height: 100%;

}

.pageUl li {

	width: 100%;

	height: 100%;

	float: left;

	position: relative;

}

.pageUl li .titleDom {

	width: 100%;

	height: 209px;

	background: #0092D3;

	overflow: hidden;

	position: relative;

}

.pageUl li .titleDom .title {

	margin-top: 108px;

}

.pageUl li .titleDom .titleBg {

	position: absolute;

	left: 0em;

	bottom: 38px;

}

.bottomContent {

	text-align: left;

	width: 82%;

	margin: 0em auto;

}

.bottomContent img:first-child {

	margin: 56px 0px;

}

.bottomImgLeftRight {

	width: 100%;

	position: relative;

}

.bottomImgLeftRight div {

	width: 48%;

	display: inline-block;

 *display:inline;

	zoom: 1;

	text-align: center;

}

.bottomBlue {

	width: 100%;

	height: 200px;

	background: #28A7E1;

	position: absolute;

	left: 0em;

	top: 208px;

}

.openInfo {

	width: 278px;

	height: 70px;

	position: absolute;

	left: 22px;

	cursor: pointer;

}

.infoText {

	width: 100%;

	height: 100%;

	position: absolute;

	left: 0em;

	top: 0em;

	z-index: 100000000000;

	background: rgba(0, 0, 0, 0.8)!important;

	filter: Alpha(opacity=80);

	background: #000;

	display: none;

}

.infoDom {

	width: 90%;

	height: 90%;

	margin: 0 auto;

	background: #fff;

}

.infoDom .titleDom {

	height: 36px;

	background: #28A7E1;

	color: #fff;

	position: relative;

	font-weight: bold;

	text-align: left;

	font-size: 17px;

}

.infoDom .titleDom .number {

	width: 36px;

	height: 100%;

	background: #00628D;

	text-align: center;

	line-height: 36px;

	display: inline-block;

*display:inline;

	zoom: 1;

	font-size: 19px;

}

.infoDom .titleDom .title {

	display: inline-block;

 *display:inline;

	zoom: 1;

}

.infoDom .titleDom .close {

	position: absolute;

	right: 0em;

	top: 0em;

	width: 36px;

	height: 100%;

	text-align: center;

	cursor: pointer;

}

.infoDom .titleDom .close img {

	margin-top: 26px;

}

.infoDom .info {

	width: 96%;

	margin: 0em auto;

	line-height: 25px;

	font-size: 13px;

	color: #6b6666;

	text-align: left;

	margin-right: 6px;

	word-wrap: break-word;

}

.lastPage {

	width: 100%;

	height: 100%;

	background: #014C6D;

	top: -20px;

}

.centerImg {

	width: 100%;

	height: 100%;

	display: table-cell;

	text-align: center;

	vertical-align: middle;

}

.mCSB_scrollTools {

	margin-right: -6px;

}

.mCSB_scrollTools a+.mCSB_draggerContainer {

	margin: 0em;

}

.mCSB_scrollTools .mCSB_draggerRail {

	background: rgba(229,229,229,0.0);

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

	background: rgba(0,0,0,0.4);

}

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {

	display: none;

}

.oper5 {

	width: 286px;

	height: 164px;

	position: absolute;

	left: 50%;

	margin-left: -143px;

	top: 23px;

	z-index: 100;

}

.openInfo5 {

	width: 25%;

	float: left;

	height: 75px;

	cursor: pointer;

}

.oper5 .last .openInfo5 {

	width: 20%;

}

.music {

	position: absolute;

	right: 0em;

	top: 0em;

	padding: 1em;

	z-index: 10000;

}

